<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Agent Klasifikasi JRA</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>
    <div class="container">
        <h1>Klasifikasi Dokumen</h1>
        <form action="/process-file/" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="file-upload" class="custom-file-upload">
                Upload File Lu Kontol
            </label>
            <input id="file-upload" name="file" type="file" accept=".xlsx, .xls" required>
            <span id="file-name">Tidak ada file yang dipilih</span>
            <button type="submit">Proses File</button>
        </form>

        <div class="footer">
            Jobel Ganteng
        </div>
    </div>

    <script>
            const uploadForm = document.querySelector('.upload-form');
            const overlay = document.getElementById('overlay');
            const fileInput = document.getElementById('file-upload');
            const fileNameSpan = document.getElementById('file-name');

            // Script untuk menampilkan nama file yang dipilih
            fileInput.onchange = function () {
                const fileName = this.files[0] ? this.files[0].name : "Tidak ada file yang dipilih";
                fileNameSpan.textContent = fileName;
            };

            // Script untuk menampilkan overlay saat form disubmit
            uploadForm.addEventListener('submit', function() {
                // Pastikan file sudah dipilih sebelum menampilkan loading
                if (fileInput.files.length > 0) {
                    overlay.style.display = 'flex';
                }
            });
        </script>
    <div id="overlay">
            <div class="spinner"></div>
            <p>Sedang memproses... mohon tunggu.</p>
        </div>
</body>
</html>